{% extends 'base.html' %}

{% block title %}{{ petition.title }}{% endblock %}

{% block content %}
<h2>Дедальніше про петицію:</h2>
<h3>{{ petition.title }}</h3>
<p>{{ petition.description }}</p>
<p>Автор: {{ petition.author }}</p>
<p>Кількість підписів: {{ petition.count_supporters }}</p>

{% if user.is_authenticated %}
    {% if user != petition.author %}
        <form class="form" method="post">
            {% csrf_token %}
            {% if subscribed %}
                <button class="form__btn-red" type="submit" name="unsubscribe">Відписатися</button>
            {% else %}
                <button class="form__btn-green" type="submit" name="subscribe">Підписатися</button>
            {% endif %}
        </form>
    {% endif %}
    {% if user == petition.author %}
        <form class="form" method="post" action="{% url 'delete_petition' petition.id %}">
            {% csrf_token %}
            <button class="form__btn-red" type="submit">Видалити петицію</button>
        </form>
    {% endif %}
{% else %}
    <a href="{% url 'login' %}">Увійдіть, щоб підписатися</a>
{% endif %}
{% endblock %}